#account {
  flex-basis: 100%;
  padding: 4rem 3rem 0;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1.4fr 1.4fr;
}

#account .module .content {
  margin: 0 0 3rem;
}

#account .module .content.feedback p {
  font-size: 14px;
}

#account .module .content:last-child {
  margin: 0;
}

#account .module.activity-checklists-seals {
}

#account .module.activity-checklists-seals .list li {
  height: unset;
}

/* #account .module.activity-checklists-seals > div:nth-child(2) {
  margin: 0 0 2rem;
} */

#account ul.activity {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 1rem;
}

#account ul.activity > li {
  flex-basis: 20%;
  margin: 0 0 1rem;
}

#account .activity ul li {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

#account .activity ul li:first-child {
  margin: 0 0 0.5rem;
  color: rgba(255, 255, 255, 0.6);
}

#account .module.ranks {
  grid-row: 1/3;
  grid-column: 2/3;
}

#account .module.ranks .content .rank h4 {
  margin: 1.5rem 0 1rem;
}

#account .module.ranks .content .rank p {
  font-size: 14px;
}

#account .module.ranks .content .rank {
  margin: 0 0 1rem;
}

#account .module.ranks .content .rank .mode {
  display: flex;
}

#account .module.ranks .content .rank .mode .icon {
  flex-basis: 4rem;
  height: 4rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 52px;
}

#account .module.ranks .content .rank .mode .name,
#account .module.ranks .content .rank .mode .resets {
  display: flex;
  align-items: center;
}

#account .module.ranks .content .rank .mode .name {
  flex-basis: calc(100% - 7rem);
}

#account .module.ranks .content .rank .mode .resets {
  flex-basis: 2rem;
  justify-content: flex-end;
  margin: 0 1rem 0 0;
}

#account .module.ranks .content .rank .shallow > .description {
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
  letter-spacing: 0.5px;
}

#account .module.ranks .content .rank .shallow {
  padding: 1rem;
}

#account .module.ranks .content .rank.infamy .mode {
  background-color: #25986e;
}

#account .module.ranks .content .rank.infamy .mode .icon {
  font-size: 42px;
}

#account .module.ranks .content .rank.infamy .shallow {
  background-color: rgba(37, 152, 110, 0.5);
}

#account .module.ranks .content .rank.valor .mode {
  background-color: #ed792c;
}

#account .module.ranks .content .rank.valor .shallow {
  background-color: rgba(237, 121, 44, 0.5);
}

#account .module.ranks .content .rank.glory .mode {
  background-color: #b52422;
}

#account .module.ranks .content .rank.glory .shallow {
  background-color: rgba(181, 36, 34, 0.5);
}

#account .module.ranks .content .rank .progress-bar.disabled {
  opacity: 0;
}

#account .module.almost {
  grid-row: 1/3;
  grid-column: 3/5;
}

#account .module.almost .list.record-items {
  grid-template-columns: 1fr;
}

@media screen and (max-width: 1600px) {
  #account {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  #account {
    grid-template-columns: 1fr 1fr;
  }

  #account .module.ranks {
    grid-row: unset;
    grid-column: 2/3;
  }

  #account .module.almost {
    grid-row: unset;
    grid-column: 1/3;
  }
}

@media screen and (max-width: 600px) {
  #account {
    grid-template-columns: 1fr;
    padding: 3rem 2rem 0;
    grid-gap: 2rem;
  }

  #account .module .content:last-child {
    margin: 0 0 1rem;
  }

  #account .module.activity-checklists-seals {
    grid-column: 1/2;
  }

  #account .module.ranks {
    grid-column: 1/2;
  }

  #account .module.ranks .content .rank:last-child {
    margin: 0 0 1rem;
  }

  #account .module.almost {
    grid-column: 1/2;
  }

  #account .module.almost .list.record-items {
    grid-template-columns: 1fr;
  }
}
