#account {
  flex-basis: 100%;
  padding: 4rem 3rem 0;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
}

#account .module .content {
  margin: 0 0 3rem;
}

#account .module .content:last-child {
  margin: 0;
}



#account .module .content.characters .character {
  margin: 0 0 2rem;
}

#account .module .content.characters .character:last-child {
  margin: 0;
}

#account .module .content.characters .character .list {
  margin: 0 0 1rem;
}

#account .module .content.characters .character .list li {
  display: grid;
  grid-template-columns: 56px 70px 60px auto;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.05);
}

#account .module .content.characters .character .list li .emblem {
  position: relative;
  width: 38px;
  height: 38px;
}

#account .module .content.characters .character .list li .light {
  position: relative;
  margin: 0 0 0 14px;
  font-weight: 500;
  color: #2ed1c9;
}

#account .module .content.characters .character .list li .light::before {
  content: 'l';
  position: absolute;
  top: 5px;
  left: -10px;
  font-family: 'destiny' !important;
  font-size: 8px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



#account .module .content.collectibles .collection-items {
  grid-template-columns: 1fr 1fr;
}

#account .module .content.collectibles .collection-items li {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.4);
}

#account .module .content.collectibles .collection-items li.completed {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
}

#account .module .content.collectibles .collection-items li .image.dl {
  opacity: 0.4;
}

#account .module .content.collectibles .collection-items li.completed .image.dl {
  opacity: 1;
}

#account .module .content.collectibles .collection-items li:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
}




#account .module .content.strikes li {
  height: unset;
  font-size: 14px;
  margin: 0 0 6px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

#account .module .content.strikes li.lowScore {
  color: rgba(255, 255, 255, 0.4);
}

#account .module .content.strikes li .score {
  text-align: right;
}




#account .module .content.seals .list li {
  height: unset;
  margin: 0 0 4px;
}

#account .module .content.seals .list li:last-child {
  margin: 0;
}

#account .module .content.seals .list li .progress-bar {
  flex-basis: 100%;
}





#account .module .ranks .rank h4 {
  margin: 1.5rem 0 1rem;
}

#account .module .ranks .rank p {
  font-size: 14px;
}

#account .module .ranks .rank {
  margin: 0 0 1rem;
}

#account .module .ranks .rank .mode {
  display: flex;
}

#account .module .ranks .rank .mode .icon {
  flex-basis: 4rem;
  height: 4rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 52px;
}

#account .module .ranks .rank .mode .name,
#account .module .ranks .rank .mode .resets {
  display: flex;
  align-items: center;
}

#account .module .ranks .rank .mode .name {
  flex-basis: calc(100% - 7rem);
}

#account .module .ranks .rank .mode .resets {
  flex-basis: 2rem;
  justify-content: flex-end;
  margin: 0 1rem 0 0;
}

#account .module .ranks .rank .shallow > .description {
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
  letter-spacing: 0.5px;
}

#account .module .ranks .rank .shallow {
  padding: 1rem;
}

#account .module .ranks .rank.infamy .mode {
  background-color: #25986e;
}

#account .module .ranks .rank.infamy .mode .icon {
  font-size: 42px;
}

#account .module .ranks .rank.infamy .shallow {
  background-color: rgba(37, 152, 110, 0.5);
}

#account .module .ranks .rank.valor .mode {
  background-color: #ed792c;
}

#account .module .ranks .rank.valor .shallow {
  background-color: rgba(237, 121, 44, 0.5);
}

#account .module .ranks .rank.glory .mode {
  background-color: #b52422;
}

#account .module .ranks .rank.glory .shallow {
  background-color: rgba(181, 36, 34, 0.5);
}

#account .module .ranks .rank .progress-bar.disabled {
  opacity: 0;
}





#account .module .almost .list.record-items {
  grid-template-columns: 1fr;
}




@media screen and (max-width: 1300px) {
  #account {
    grid-template-columns: 1fr 1fr;
  }

  

  /* #account .module .ranks {
    grid-row: unset;
    grid-column: 2/3;
  }

  #account .module.almost {
    grid-row: unset;
    grid-column: 1/3;
  } */
}

@media screen and (max-width: 500px) {
  #account {
    grid-template-columns: 1fr;
    padding: 3rem 2rem 0;
    grid-gap: 2rem;
  }

  #account .module .content:last-child {
    margin: 0 0 1rem;
  }

  #account .module .content.collectibles .collection-items {
    grid-template-columns: 1fr 1fr;
  }

  /* #account .module.activity-checklists-seals {
    grid-column: 1/2;
  }

  #account .module .ranks {
    grid-column: 1/2;
  }

  #account .module .ranks .rank:last-child {
    margin: 0 0 1rem;
  }

  #account .module.almost {
    grid-column: 1/2;
  }

  #account .module.almost .list.record-items {
    grid-template-columns: 1fr;
  } */
}
