#settings {
  padding: 3rem;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(5, 1fr);
}

#settings .sub-header {
  border-bottom: 2px solid #6d6d6d;
  color: #6d6d6d;
}

#settings .list li.linked {
  background-color: rgba(0, 0, 0, 0.05);
  color: #555;
}

#settings .list li::before {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
}

#settings .list li::after {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
}

#settings .list li.linked:hover {
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
}

#settings .list li.linked:hover a {
  color: #222;
}

#settings .list li.linked:hover::before {
  box-shadow: inset 0 0 0 1px #848484;
}

#settings .list li.linked:hover::after {
  box-shadow: 0 0 0 2px #848484;
}

#settings .list li .name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  font-size: 16px;
}

#settings .list li.selected .name::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 13px 0 0;
  border-color: #555 transparent transparent transparent;
  pointer-events: none;
}

#settings .module.language .list:nth-child(3) {
  margin: 2rem 0 0;
}

@media screen and (max-width: 1500px) {
  #settings {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  #settings {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  #settings {
    padding: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  #settings .sub-header {
    margin: 0 0 1rem;
  }
}



#settings .module .list.settings li {
  height: unset;
  padding: 5px 0;
  margin: 0 0 7px;
}

#settings .module .list.settings li .check-box {
  width: 100%;
}

#settings .module .list.settings li .check-box .check {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.4);
}

#settings .module .list.settings li .check-box .text {
  color: rgba(0, 0, 0, 0.8);
}
