#player {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  padding: 9rem 3rem 3rem;
  height: 96px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  background-color: #5f5f5f;
}

#player .backgrounds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#player .backgrounds .image {
  background-size: cover;
  transform: scale(1.1);
  filter: blur(7px);
  opacity: 0;
}

#player .backgrounds .image.active.dl {
  opacity: 1;
}

#player .characters {
  height: 96px;
  z-index: 10;
}

#player .characters .list li:not(.active) {
  display: none;
}

#player .characters.expanded .list li:not(.active) {
  display: inherit;
}

#player .characters .list li {
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.4);
}

#player .characters .list li a {
  z-index: 20;
}

#player .characters .list li:last-child {
  margin: 0;
}

#player .characters .list li.active::after {
  box-shadow: 0 0 0 2px rgba(214, 214, 214, 0);
}

#player .characters .list li.active:hover::after {
  box-shadow: 0 0 0 2px #d6d6d6;
}

#player .views {
  position: relative;
  height: 96px;
  display: flex;
  align-items: center;
}

#player .views ul {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  padding: 0 1rem 0 3rem;
}

#player .views ul::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 6%, rgba(255, 255, 255, 0) 12%);
  background-size: 400% 400%;
  animation: animation-player-views 10s linear infinite;
}

@keyframes animation-player-views {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -400% 0%;
  }
}

#player .views ul li {
  margin: 0 1rem 0 0;
  display: flex;
  align-items: center;
}

#player .views ul li a {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}

#player .views ul li a.active {
  color: rgba(255, 255, 255, 1);
}

#player .views ul li a::before {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 2px);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: border-bottom 0.2s;
}

#player .views ul li a:hover {
  color: rgba(255, 255, 255, 0.6);
}

#player .views ul li a.active::before {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

#player .views ul li a.active:hover {
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 600px) {
  #player {
    position: relative;
    padding: 9rem 2rem 1rem;
    width: calc(100% - 4rem);
    height: unset;
  }

  #player .characters {
    width: 100%;
    height: 0;
    padding-bottom: calc(96 / 474 * 100%);
  }

  #player .characters .list li {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.4);
  }

  #player .characters .image.emblem.missing {
    width: calc(96 / 474 * 100% - 37px);
    height: calc(100% - 35px);
    top: 14px;
    left: 14px;
  }

  #player .characters .displayName {
    left: 20%;
    top: 14%;
    font-size: 18px;
  }

  #player .characters .class {
    left: 20%;
    top: 53%;
    font-size: 13px;
  }

  #player .characters .light {
    top: 10%;
    right: 2%;
    font-size: 26px;
  }

  #player .characters .light::before {
    font-size: 11px;
    left: -12px;
  }

  #player .characters .level {
    top: 51%;
    right: 2%;
    font-size: 14px;
  }

  #player .characters .progress {
    height: 7px;
  }

  #player .views {
    height: unset;
    align-items: unset;
    margin: 2rem 0 0;
  }

  #player .views ul {
    padding: 0;
  }

  #player .views ul::before {
    box-shadow: unset;
    background: unset;
  }

  #player .views ul li {
    margin: 0 1rem 1rem 0;
  }

  #player .views ul li a {
    height: unset;
  }

  #player .views ul li a::before {
    bottom: -6px;
  }
}
