



#progression {
  display: flex;
  flex-flow: row wrap;
  padding: 19rem 1.5rem 1.5rem;
  min-height: initial;
}

#progression .summaries {
  flex-basis: 100%;
  padding: 0 0 1.5rem;
}

#progression .checklists {
  flex-basis: 100%;
  padding: 0 0 3rem;
}

#progression >.header {
  position: relative;
  padding: 1rem 0;
  margin: 3rem 1.5rem 1rem;
  width: calc(100% - 3rem);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


@media screen and (max-width: 1200px) {

#progression {
  padding: 0;
}

#progression .checklists {
  
}

#progression .summaries {
  padding: 0 1.5rem 3rem;
}

#progression >.header {
  margin: 3rem 3rem 1rem;
}

}


@media screen and (max-width: 600px) {

#progression .summaries {
  padding: 0 1.5rem 3rem;
}

#progression .checklists {
  padding: 0 0.5rem;
}

#progression >.header {
  margin: 3rem 2rem 1rem;
}

}