

.view {
  background-color: #737373;
}

#progression {
  display: flex;
  flex-flow: row wrap;
  padding: 19rem 1.5rem 1.5rem;
  min-height: calc(100vh - 20.5rem);
}

#progression .summaries {
  flex-basis: 100%;
  padding: 1.5rem 0 1.5rem;
}

#progression .checklists:not(.list) {
  flex-basis: 100%;
  padding: 3rem 0;
}


@media screen and (max-width: 1200px) {

#progression {
  padding: 0;
}

#progression .checklists:not(.list) {
  padding: 3rem 1.5rem;
}

#progression .summaries {
  padding: 1.5rem 1.5rem 3rem;
}

}


@media screen and (max-width: 600px) {

#progression .summaries {
  padding: 2rem 1.5rem 3rem;
}

}