


#search {
  padding: 9rem 3rem 3rem;
  min-height: calc(100vh - 12rem);
}

#search .frame {
  max-width: 20rem;
}

#search .form {
  margin: 0 0 1rem;
}

#search .results {
  margin: 1rem 0 3rem;
}

#search .results .list li {
  padding: 0 1rem;
}

#search .results .list li span {
  margin: 0 10px 0 0;
}

@media screen and (max-width: 600px) {

#search {
  padding: 9rem 2rem 3rem;
}

#search .frame {
  max-width: initial;
}

}