



.equipment {
  width: 100%;
}

.character {
  width: 1024px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 72px 128px 1fr 128px 72px;
}

.equipment .column {
  position: relative;
}

.equipment .column.weapons,
.equipment .column.armours {
  width: 72px;
}

.equipment .column .items li {
  margin: 0 0 10px;
}

.equipment .column .items li .item {
  position: relative;
  height: unset;
  padding-bottom: 100%;
}

.equipment .column .items li .item::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: inset 0 0 0 2px #d6d6d6;
  transition: box-shadow .25s;
}

.equipment .column .items li .item::after {
  content: " ";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: 3;
  pointer-events: none;
  box-shadow: 0 0 0 2px rgba(214, 214, 214, 0);
  transition: box-shadow .25s;
}

.equipment .column .items li .item:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
}

.equipment .column .items li .item:hover::after {
  box-shadow: 0 0 0 2px #d6d6d6;
}

.equipment .column .items li .item.masterworked::before {
  box-shadow: inset 0 0 0 2px #ceae33;
}

.equipment .column .items li .item.masterworked:hover::after {
  box-shadow: 0 0 0 2px #ceae33;
}

.equipment .column.weapons {
  padding: 128px 0 0;
}

.equipment .column.armours {
  padding: 46px 0 0;
}

.equipment .column.weapons .items li:first-child {
  position: absolute;
  top: 0;
  left: -12px;
  transform: rotate(45deg);
  width: 96px;
}

.equipment .column.weapons .items li:first-child .image {
  transform: rotate(45deg) scale(1.42);
}







@media screen and (max-width: 1200px) {

.equipment {
  
}

}


@media screen and (max-width: 600px) {

.equipment {
  
}

}