@font-face {
  font-family: 'symbols';
  src:
    url('symbols.ttf?wl5bck') format('truetype'),
    url('symbols.woff?wl5bck') format('woff'),
    url('symbols.svg?wl5bck#symbols') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'symbols' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.radiation:before {
  content: "\e91b";
}
.twitter2:before {
  content: "\e90e";
}
.dribbble2:before {
  content: "\e90f";
}
.lastfm:before {
  content: "\e910";
}
.linkedin2:before {
  content: "\e911";
}
.apple:before {
  content: "\e903";
}
.windows:before {
  content: "\e904";
}
.google-play:before {
  content: "\e905";
}
.dribbble:before {
  content: "\e906";
}
.skype:before {
  content: "\e907";
}
.linkedin:before {
  content: "\e908";
}
.instagram:before {
  content: "\e909";
}
.snapchat:before {
  content: "\e90a";
}
.youtube:before {
  content: "\e90b";
}
.twitter:before {
  content: "\e90c";
}
.facebook:before {
  content: "\e90d";
}
.Windows_logo:before {
  content: "\e902";
}
.cortana .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.cortana .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.uniE003:before {
  content: "\e003";
}
.uniE07F:before {
  content: "\e07f";
}
.uniE00E6:before {
  content: "\e096";
}
.uniE00F6:before {
  content: "\e097";
}
.uniE0106:before {
  content: "\e098";
}
.uniE0116:before {
  content: "\e099";
}
.uniE105:before {
  content: "\e105";
}
.uniE106:before {
  content: "\e106";
}
.uniE108:before {
  content: "\e108";
}
.uniE10C:before {
  content: "\e10c";
}
.uniE117:before {
  content: "\e117";
}
.uniE11B:before {
  content: "\e11b";
}
.uniE120:before {
  content: "\e120";
}
.uniE126:before {
  content: "\e126";
}
.uniE127:before {
  content: "\e127";
}
.uniE12B:before {
  content: "\e12b";
}
.uniE12C:before {
  content: "\e12c";
}
.uniE14E:before {
  content: "\e14e";
}
.uniE162:before {
  content: "\e162";
}
.uniE167:before {
  content: "\e167";
}
.uniE16C:before {
  content: "\e16c";
}
.uniE16E:before {
  content: "\e16e";
}
.uniE179:before {
  content: "\e179";
}
.uniE17D:before {
  content: "\e17d";
}
.uniE11C3:before {
  content: "\e183";
}
.uniE1C4:before {
  content: "\e1c4";
}
.uniE00A3:before {
  content: "\e249";
}
.uniE1CE3:before {
  content: "\e24a";
}
.uniE14C3:before {
  content: "\e292";
}
.uniE2AC:before {
  content: "\e2ac";
}
.uniE2F6:before {
  content: "\e2f6";
}
.uniE700:before {
  content: "\e700";
}
.uniE1152:before {
  content: "\e713";
}
.uniE15B2:before {
  content: "\e71a";
}
.uniE1A32:before {
  content: "\e71e";
}
.uniE0AB2:before {
  content: "\e72a";
}
.uniE0A62:before {
  content: "\e72b";
}
.uniE741:before {
  content: "\e741";
}
.uniE742:before {
  content: "\e742";
}
.uniE1102:before {
  content: "\e74a";
}
.uniE1FD2:before {
  content: "\e74b";
}
.uniE759:before {
  content: "\e759";
}
.uniE75F:before {
  content: "\e75f";
}
.uniE1032:before {
  content: "\e769";
}
.uniE777:before {
  content: "\e777";
}
.uniE1392:before {
  content: "\e7b7";
}
.uniE1292:before {
  content: "\e7c1";
}
.uniE1602:before {
  content: "\e7c3";
}
.uniE7C4:before {
  content: "\e7c4";
}
.uniE80A:before {
  content: "\e80a";
}
.uniE81C:before {
  content: "\e81c";
}
.uniE82F:before {
  content: "\e82f";
}
.uniE839:before {
  content: "\e839";
}
.uniE879:before {
  content: "\e879";
}
.uniE0522:before {
  content: "\e890";
}
.uniE14F2:before {
  content: "\e8b4";
}
.uniE1562:before {
  content: "\e8b8";
}
.uniE8CC:before {
  content: "\e8cc";
}
.uniE1892:before {
  content: "\e8d6";
}
.uniE93E:before {
  content: "\e93e";
}
.uniE946:before {
  content: "\e946";
}
.uniE947:before {
  content: "\e947";
}
.uniE948:before {
  content: "\e948";
}
.uniE949:before {
  content: "\e949";
}
.uniE94A:before {
  content: "\e94a";
}
.uniE94B:before {
  content: "\e94b";
}
.uniE94C:before {
  content: "\e94c";
}
.uniE94D:before {
  content: "\e94d";
}
.uniE94E:before {
  content: "\e94e";
}
.uniE94F:before {
  content: "\e94f";
}
.uniE992:before {
  content: "\e992";
}
.uniE993:before {
  content: "\e993";
}
.uniE994:before {
  content: "\e994";
}
.uniE995:before {
  content: "\e995";
}
.uniEA55:before {
  content: "\ea55";
}
.uniEA92:before {
  content: "\ea92";
}
.uniE0062:before {
  content: "\eb51";
}
.uniE00B2:before {
  content: "\eb52";
}
.uniEB91:before {
  content: "\eb91";
}
.uniEB9F:before {
  content: "\eb9f";
}
.uniEBAA:before {
  content: "\ebaa";
}
.uniEBD2:before {
  content: "\ebd2";
}
.uniEC37:before {
  content: "\ec37";
}
.uniEC38:before {
  content: "\ec38";
}
.uniEC39:before {
  content: "\ec39";
}
.uniEC3A:before {
  content: "\ec3a";
}
.uniEC3B:before {
  content: "\ec3b";
}
.uniEC3C:before {
  content: "\ec3c";
}
.uniEC3D:before {
  content: "\ec3d";
}
.uniEC3E:before {
  content: "\ec3e";
}
.uniEC3F:before {
  content: "\ec3f";
}
.uniEC40:before {
  content: "\ec40";
}
.uniEC41:before {
  content: "\ec41";
}
.uniEC42:before {
  content: "\ec42";
}
.uniEC43:before {
  content: "\ec43";
}
.uniEC46:before {
  content: "\ec46";
}
.uniECA5:before {
  content: "\eca5";
}
.uniED0D:before {
  content: "\ed0d";
}
.uniED3C:before {
  content: "\ed3c";
}
.uniED3D:before {
  content: "\ed3d";
}
.uniED41:before {
  content: "\ed41";
}
.uniED43:before {
  content: "\ed43";
}
.uniEDE3:before {
  content: "\ede3";
}
.uniEE40:before {
  content: "\ee40";
}
.uniEECA:before {
  content: "\eeca";
}
.uniF003:before {
  content: "\f003";
}
.uniF093:before {
  content: "\f093";
}
.uniF094:before {
  content: "\f094";
}
.uniF095:before {
  content: "\f095";
}
.uniF096:before {
  content: "\f096";
}
.uniF0E2:before {
  content: "\f0e2";
}
.uniF108:before {
  content: "\f108";
}
.uniF109:before {
  content: "\f109";
}
.uniF10A:before {
  content: "\f10a";
}
.uniF10B:before {
  content: "\f10b";
}
.uniF10C:before {
  content: "\f10c";
}
.uniF10D:before {
  content: "\f10d";
}
.uniF10E:before {
  content: "\f10e";
}
.uniF22C:before {
  content: "\f22c";
}
.uniF270:before {
  content: "\f270";
}
.uniF271:before {
  content: "\f271";
}
.uniF272:before {
  content: "\f272";
}
.icsun:before {
  content: "\e91c";
}
.iccloudyday:before {
  content: "\e91d";
}
.iccloudynight:before {
  content: "\e91e";
}
.icmoon1:before {
  content: "\e91f";
}
.icwind:before {
  content: "\e920";
}
.iccloudy:before {
  content: "\e921";
}
.icrain:before {
  content: "\e922";
}
.icmoon2:before {
  content: "\e923";
}
