

#clan {
  padding: 0;
  width: 100%;
  display: block;
}

#clan .views {
  margin: 0 0 2rem;
}

#clan .views .list li {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0);
}

#clan .views .list li::before {
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0.4);
}

#clan .views .list li.linked:hover {
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 2;
}

#clan .views .list li a.active {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 1);
  color: #fff;
}

#clan .views .list li a:hover {
  color: #fff;
}

#clan .clan-properties {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 2rem;
}

#clan .clan-properties .name {
  position: relative;
  font-size: 38px;
  font-weight: 600;
  margin: 0 0 7px;
  color: rgba(255, 255, 255, 1);
}

#clan .clan-properties .name::before {
  content: ' ';
  position: absolute;
  top: -7px;
  left: 0;
  width: 1.3rem;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.6);
}

#clan .clan-properties .name .tag {
  font-size: 25px;
  font-weight: 400;
  display: inline-block;
  margin: 0 0 0 7px;
  vertical-align: 11px;
  color: rgba(255, 255, 255, 0.6);
}

#clan .clan-properties .memberCount {
  position: relative;
  text-transform: uppercase;
  margin: 0 0 32px;
}

#clan .clan-properties .memberCount::before {
  content: ' ';
  position: absolute;
  bottom: -17px;
  left: 0;
  width: 0.5rem;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
}

#clan .clan-properties .motto {
  font-style: italic;
  letter-spacing: 1px;
  margin: 0 0 21px;
}

#clan .clan-properties .bio {
  font-size: 14px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.8);
}

#clan .summary .info {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 0 1rem;
}

@media screen and (max-width: 1200px) {



}


@media screen and (max-width: 600px) {

  #clan {
    padding: 0;
    width: 100%;
  }

}