

.summaries {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 1.5rem;
}

.summaries .module {
  flex-basis: calc(100% / 4 - 3rem);
  padding: 1.5rem;
}




.summaries .list li {
  height: unset;
}

.summaries .list li:hover .progress .bar {
  opacity: 0.8;
}

.summaries .list.seals li .progress .bar {
  background-color: #7b3274;
}