

.summaries {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 1.5rem;
}

.summaries .module {
  flex-basis: calc(100% / 4 - 3rem);
  padding: 1.5rem;
}




.summaries .list li {
  height: unset;
}

.summaries .list:not(.no-interaction) li:hover .progress .bar {
  opacity: 0.8;
}

.summaries .list.seals li .progress .bar {
  background-color: #7b3274;
}



@media screen and (max-width: 1280px) {

.summaries .module {
  flex-basis: calc(100% / 3 - 3rem);
}

}

@media screen and (max-width: 900px) {

.summaries .module {
  flex-basis: calc(50% - 3rem);
}

}

@media screen and (max-width: 600px) {

.summaries .module {
  flex-basis: calc(100% - 1rem);
  padding: 1rem 0.5rem 1rem 0.5rem;
}

}