


.SearchPlayer {
  max-width: 20rem;
}

.SearchPlayer .form {
  margin: 0 0 1rem;
}

.SearchPlayer .results {
  margin: 1rem 0 3rem;
}

.SearchPlayer .results .list li {
  padding: 0 1rem;
}

.SearchPlayer .results .list li span {
  margin: 0 10px 0 0;
}

@media screen and (max-width: 600px) {

.SearchPlayer {
  max-width: initial;
}

}