








.triumphs .parent .node .image {
  position: relative;
  width: 128px;
  height: 128px;
  margin: 0 auto 1rem;
}

.triumphs .parent .node .image::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transition: box-shadow 0.25s;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}

.triumphs .parent .node .image::after {
  content: " ";
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 100%;
  transition: box-shadow 0.25s;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0);
}

.triumphs .parent .node a:hover {
  color: rgba(255, 255, 255, 1);
}

.triumphs .parent .node a:hover .image::before {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
}

.triumphs .parent .node a:hover .image::after {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
}

.triumphs .parent.seals .node a .image {
  transition: opacity 0.5s;
}

.triumphs .parent.seals .node a .image.dl {
  opacity: 0.6;
}

.triumphs .parent.seals .node.completed a .image.dl {
  opacity: 1;
}

.triumphs .parent.seals .node a:hover .image {
  opacity: 1;
}

.triumphs .parent.seals .node .image::before {
  box-shadow: none;
}

.triumphs .parent.seals .node .image::after {
  box-shadow: none;
}

.triumphs .parent.seals .node a:hover .image::before {
  box-shadow: none;
}

.triumphs .parent.seals .node a:hover .image::after {
  box-shadow: none;
}

.triumphs .parent .node .state {
  flex-basis: 100%;
  text-align: center;
  font-size: 14px;
  margin: 0.4rem 0 0;
  color: rgba(255, 255, 255, 0.4);
}




.triumphs .list li {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0);
}

.triumphs .list li::before {
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0.4);
}

.triumphs .list li a {
  position: relative;
}

.triumphs .list li a.active {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 1);
  color: #fff;
}

.triumphs .list li a:hover {
  color: #fff;
}

.triumphs .header {
  flex-basis: 100%;
  margin: 0 0 2rem;
}

.triumphs .header .name {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.triumphs .header .name span {
  color: rgba(255, 255, 255, 0.4);
}

.triumphs .node {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.triumphs .node .children {
  flex-basis: 20%;
  
}

.triumphs .list.primary {
  display: flex;
  margin: 0 0 2rem;
}

.triumphs .list.primary li {
  height: 72px;
  margin: 0 3px 3px 0;
  flex-basis: calc(100% / 3 - 1px);
}

.triumphs .list.primary li:last-child {
  margin: 0 0 3px 0;
}

.triumphs .list.primary li .image {
  top: 12%;
  height: 76%;
  opacity: 0.4;
}

.triumphs .list.primary li .active .image {
  opacity: 1;
}



.triumphs .node.seal .children .icon {
  position: relative;
  flex-basis: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.triumphs .node.seal .children .icon .corners {
  opacity: 0.2;
}

.triumphs .node.seal .children .icon .image {
  position: relative;
  height: initial;
  padding-bottom: 100%;
}

.triumphs .node.seal .children .text .name {
  margin: 2rem 0 2rem;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 500;
}

.triumphs .node.seal .children .text .description {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.2);
}

.triumphs .node.seal .children .until {
  margin: 6rem 0 0;
}

.triumphs .node.seal .children .until h4 {
  margin: 0 0 1rem;
}

.triumphs .node.seal .children .progress .bar {
  background-color: #7b3274;
}



.triumphs .list.secondary li {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.4);
}


.triumphs .list.tertiary {
  display: flex;
  flex-flow: row wrap;
}

.triumphs .list.tertiary li {
  flex-basis: calc(100% / 3 - 3px - 2rem);
  margin: 0 0 3px 3px;
  padding: 1rem;
  height: initial;
  flex-flow: row wrap;
  align-content: flex-start;
}

.triumphs .list.tertiary li .icon {
  position: relative;
  width: 48px;
  height: 48px;
  flex-basis: 48px;
}

.triumphs .list.tertiary li .text {
  flex-basis: calc(100% - 48px - 1rem);
  margin: 0 0 0 1rem;
}

.triumphs .list.tertiary li .text .description {
  color: rgba(255, 255, 255, 0.6);
  margin: 10px 0 0;
  padding: 10px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.triumphs .list.tertiary li .objectives {
  margin: 1rem 0 0;
  padding: 0 0 0 calc(48px + 1rem);
  flex-basis: calc(100% - 48px - 1rem);
}

.triumphs .list.tertiary li .objectives .progress {
  margin: 0 0 3px;
}

.triumphs .list.tertiary li .objectives .progress:last-child {
  margin: 0;
}

.triumphs .list.tertiary li.completed {
  background-color: rgba(207, 191, 124, 0.1);
  box-shadow: inset 0 0 0px 1px rgba(207, 191, 124, 1);
  color: rgba(207, 191, 124, 1);
}

.triumphs .list.tertiary li.completed .text .description {
  color: rgba(207, 191, 124, 0.6);
  border-top: 1px solid rgba(207, 191, 124, 0.2);
}

.triumphs .list.tertiary li.completed .progress {
  background-color: rgba(207, 191, 124, 0.1);
}

.triumphs .list.tertiary li.completed .progress .bar {
  background-color: #bcad71;
}


@media screen and (max-width: 1200px) {

.triumphs .node.seal {
  margin: 1rem 0 0;
}

.triumphs .node .children {
  flex-basis: 30%;
}

.triumphs .list.tertiary li {
  flex-basis: calc(100% / 2 - 3px - 2rem);
}

}


@media screen and (max-width: 600px) {

.triumphs .node.seal .children .icon .image {
  padding-bottom: 50%;
}

.triumphs .node.seal .children .text .name {
  font-size: 24px;
}

.triumphs .node.seal .children .until {
  margin: 3rem 0 2rem;
}

.triumphs .header .name {
  font-size: 24px;
}

.triumphs .parent .node {
  margin: 0 0 2rem;
  flex-basis: calc(100% / 3);
}

.triumphs .parent .node a {
  
}

.triumphs .parent .node .image {
  width: 64px;
  height: 64px;
  margin: 0 auto 0.4rem;
}

.triumphs .node .children {
  flex-basis: 100%;
  margin: 0 0 2rem;
}

.triumphs .list.tertiary li {
  flex-basis: 100%;
  margin: 0 0 3px;
}

}