#clans {
  display: flex;
  flex-flow: row wrap;
}

#SearchPlayer {
  display: flex;
  flex-flow: row wrap;
}

#SearchPlayer .SearchPlayer {
  flex-basis: 20rem;
}

#SearchPlayer .SearchGroups {
  flex-basis: 30rem;
  margin: 9rem 2rem 0rem 3rem;
}

#clans .group {
  position: relative;
  width: 100%;
  padding: 9rem 3rem 3rem;
  background-color: #5f5f5f;
}

#clans .group h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 600;
  line-height: 1;
  margin: 0 0 1rem;
}

#clans .group .motto {
  position: relative;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0.6px;
  margin: 0 0 3rem;
}

#clans .group .meta {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

#clans .group .meta div h4 {
  margin: 0 0 1rem;  
  text-transform: unset;
  letter-spacing: unset;
}

#clans .group .meta > div {
  flex-basis: calc(100% / 6.5);
}

#clans .group .meta div div {
  /* font-size: 1rem; 
  font-weight: 500;*/
}

#clans .group .meta > div:first-child {
  margin: 0;
  flex-basis: calc((100% / 6.5) * 2);
}

#clans .group .meta > div:first-child div {
  font-size: 14px;
  font-weight: 400;
  padding: 0 3rem 0 0;
  color: rgba(255, 255, 255, 0.8);
}

#clans .roster {
  padding: 3rem;
  width: 100%;
  display: grid;
  grid-gap: 20px;
}

#clans .roster .member {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  cursor: default;
  opacity: 0.4;
}

#clans .roster .member.online {
  opacity: 1;
}

#clans .roster .member:not(.online):hover {
  opacity: 0.8;
}

#clans .roster .member {
  display: grid;
  grid-template-columns: 1fr 0.4fr 1.6fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#clans .roster .member .displayName {
}

#clans .roster .member .light {
  font-weight: 500;
  line-height: 1;
  color: #2ed1c9;
  flex-basis: 4rem;
}

#clans .roster .member .light::before {
  content: 'l';
  font-family: 'destiny' !important;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  margin: 0 1px 3px 0;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#clans .roster .header .light::before {
  content: none;
}

#clans .group .nrg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0 1rem 0 0;
  width: calc(100% - 1rem);
  background-color: #76c1ea;
}

#clans .group .nrg .image {
  background-position-x: right;
  width: 30%;
  left: initial;
  right: 1rem;
}

@media screen and (max-width: 600px) {
  #clans {
    padding: 0;
  }

  #SearchPlayer .SearchPlayer {
    width: 100%;
    flex-basis: 100%;
  }

  #SearchPlayer .SearchGroups {
    flex-basis: 100%;
    margin: 0 2rem 2rem;
  }

  #clans .group {
    padding: 9rem 2rem 0;
  }

  #clans .group h2 {
    font-size: 24px;
  }

  #clans .group .motto {
    margin: 0 0 2rem;
  }

  #clans .group .meta > div {
    flex-basis: 50%;
    margin: 0 0 2rem;
  }

  #clans .group .meta > div:first-child {
    flex-basis: 100%;
    margin: 0 0 2rem;
  }

  #clans .group .meta > div:first-child div {
    padding: 0;
  }

  #clans .roster {
    padding: 2rem;
  }

  #clans .roster .header {
    display: none;
  }

  #clans .roster .member > div:not(.m) {
    display: none;
  }

  #clans .roster .member {
    grid-template-columns: 1fr 3rem;
    grid-gap: 7px;
  }

  #clans .group .nrg .image {
    height: 15rem;
    top: 4rem;
    width: 100%;
  }
}
