

.list.record-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 7px;
}

.list.record-items li {
  margin: 0;
  height: initial;
  flex-flow: row wrap;
  align-content: space-between;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0);
}

.list.record-items li::before {
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0.4);
}

.list.record-items li .properties {
  flex-basis: 100%;
  padding: 1rem;  
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 1fr;
}

.list.record-items li .properties .icon {
  position: relative;
  width: 48px;
  height: 48px;
  flex-basis: 48px;
}

.list.record-items li .properties .text {
  margin: 0 0 0 1rem;
  display: flex;
  flex-flow: row wrap;
}

.list.record-items li .properties .text .name {
  flex-basis: calc(100% - 2rem);
}

.list.record-items li .properties .text .score {
  flex-basis: 2rem;
  text-align: right;
}

.list.record-items li .properties .text .description {
  flex-basis: 100%;
  color: rgba(255, 255, 255, 0.6);
  margin: 10px 0 0;
  padding: 10px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  transition: color .25s;
}

.list.record-items li.no-description .properties .text .description {
  display: none;
}

.list.record-items li .objectives {
  flex-basis: 100%;
  padding: 0 1rem 1rem calc(2rem + 48px);
  padding: 0 1rem 1rem;
}

.list.record-items li.completed {
  background-color: rgba(207, 191, 124, 0.1);
  box-shadow: inset 0 0 0px 1px rgba(207, 191, 124, 1);
  color: rgba(207, 191, 124, 1);
}

.list.record-items li.completed .properties .text .description {
  color: rgba(207, 191, 124, 0.8);
  border-top: 1px solid rgba(207, 191, 124, 0.4);
}

.list.record-items li.completed .progress-bar .check.ed::before {
  background-color: rgba(188, 173, 113, 1);
}

.list.record-items li.completed .progress-bar .bar {
  background-color: rgba(188, 173, 113, 0);
}

.list.record-items li.completed .progress-bar .bar .fill {
  background-color: rgba(188, 173, 113, 0);
}

.list.record-items li.linked.completed:hover {
  background-color: rgba(207, 191, 124, 0.4);
}

.list.record-items li.linked.completed:hover .properties .text .description {
  color: rgba(207, 191, 124, 1);
}

.list.record-items li.unRedeemed {
  background-color: rgba(90, 163, 102, 0.1);
  box-shadow: inset 0 0 0 1px #5aa366;
}

.list.record-items li.highlight::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: highlight 0.6s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}

@keyframes highlight {
  0%, 10% {
    transform: scale(1);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0);
  }
  45% {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
  }
  100% {
    transform: scale(1.2);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0);
  }
}



@media screen and (max-width: 1200px) {

  .list.record-items {
    grid-template-columns: 1fr 1fr;
  }

}
  

@media screen and (max-width: 600px) {

  .list.record-items {
    grid-template-columns: 1fr;
  }

}