#header.profile-header {
  position: relative;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 152px;
  display: flex;
  flex-flow: row wrap;
}

#header.profile-header .braytech {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

html.backdropfilter #header.profile-header .braytech {
  backdrop-filter: blur(4px) brightness(1.4);
}

#header.profile-header .ui {
  margin: 0 3rem;
}

#header.profile-header .profile {
  position: relative;
  padding: 40px 0 0;
  height: 152px;
  width: 100%;
  flex-basis: 100%;
}

#header.profile-header .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #666;
}

#header.profile-header .background .image {
  background-size: cover;
  background-position: left bottom;
}

#header.profile-header .characters {
  position: relative;
  margin: 38px 0 0;
  width: 512px;
  z-index: 10;
}

#header.profile-header .characters .list li {
  padding: 0 0 0 calc(96px + 32px);
  margin: 0;
  height: 96px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  user-select: none;
}

#header.profile-header .characters .list li .image.secondaryOverlay {
  width: 96px;
  height: 96px;
}

#header.profile-header .characters .list li .displayName {
  position: relative;
  flex-basis: 100%;
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 500;
  margin: 6px 0 8px;
}

#header.profile-header .characters .list li .displayName::before {
  content: ' ';
  position: absolute;
  top: -4px;
  left: 1px;
  width: 18px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.8);
}

#header.profile-header .characters .list li .basics {
  display: flex;
  flex-flow: row wrap;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);
}

#header.profile-header .characters .list li .basics::before {
  content: '//\00A0';
}

#header.profile-header .characters .list li .basics .light {
  position: relative;
  margin: 0 0 0 14px;
  font-weight: 500;
  color: #2ed1c9;
}

#header.profile-header .characters .list li .basics .light::before {
  content: 'l';
  position: absolute;
  top: 2px;
  left: -10px;
  font-family: 'destiny' !important;
  font-size: 8px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header.profile-header .characters .list li .progress-bar {
  margin: 18px 0 0;
  flex-basis: 100%;
  height: 11px;
}

.wrapper.light #header.profile-header .characters .list li .progress-bar {
  background-color: rgba(0, 0, 0, 0.1);
}

#header.profile-header .characters .list li .progress-bar .bar .fill {
  background-color: #5aa366;
}

#header.profile-header .characters .list li .progress-bar.capped .bar .fill {
  background-color: #c68b15;
}

#header.profile-header .characters .list li:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
  z-index: 2;
}

#header.profile-header .characters .list li:hover::before {
  box-shadow: inset 0 0 0 1px #d6d6d6;
}

#header.profile-header .characters .list li:hover::after {
  box-shadow: 0 0 0 2px #d6d6d6;
}

#header.profile-header .views {
}

#header.profile-header .views ul {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

#header.profile-header .views ul li {
  display: flex;
  align-items: center;
}

#header.profile-header .views ul li .description {
  display: none;
}

#header.profile-header .views ul li a {
  position: relative;
  padding: 32px 4px 0;
  height: 112px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
}

#header.profile-header .views ul li a.active {
  color: rgba(255, 255, 255, 1);
}

#header.profile-header .views ul li a::before {
  content: ' ';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 1);
  transition: transform 0.2s;
  transform: scaleX(0);
}

#header.profile-header .views ul li a:hover {
  color: rgba(255, 255, 255, 0.8);
}

#header.profile-header .views ul li a.active::before {
  transform: scaleX(1);
}

#header.profile-header .views ul li a.active:hover {
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1200px) {
  #header.profile-header {

  }

  #header.profile-header .characters {
    width: 100%;
    max-width: 512px;
  }
  
  #header.profile-header .characters .list li {
    padding: 0 0 0 calc(96px + 32px);
  }

  #header.profile-header .views ul {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {

  #header.profile-header {
    height: 112px;
  }

  #header.profile-header .ui {
    margin: 0 2rem;
  }
  
  #header.profile-header .profile {
    padding: 0;
    height: 112px;
  }

  #header.profile-header .characters {
    margin: 64px 0 0;
}

  #header.profile-header .characters .list li {
    padding: 0 0 0 calc(64px + 16px);
    height: 64px;
  }

  #header.profile-header .characters .list li .image.secondaryOverlay {
    width: 64px;
    height: 64px;
  }

  #header.profile-header .characters .list li .displayName {
    font-size: 22px;
    font-weight: 500;
    margin: 4px 0 4px;
  }

  #header.profile-header .characters .list li .displayName::before {
    width: 9px;
    height: 2px;
  }

  #header.profile-header .characters .list li .basics {
    letter-spacing: 2px;
    font-size: 12px;
  }

  #header.profile-header .characters .list li .progress-bar {
    margin: 14px 0 0 0;
    height: 7px;
  }
}
