

.presentation-node {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-content: flex-start;
}

.presentation-node .parent {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.presentation-node .parent .node {
  flex-basis: 10rem;
  justify-content: center;
  margin: 0 0 1rem;
}

.presentation-node .parent .node a {
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.presentation-node .parent .node a:hover {
  color: rgba(255, 255, 255, 1);
}






.presentation-node .list li {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0);
}

.presentation-node .list li::before {
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0.4);
}

.presentation-node .list li a {
  position: relative;
}

.presentation-node .list li a.active {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 1);
  color: #fff;
}

.presentation-node .list li a:hover {
  color: #fff;
}

.presentation-node .header {
  flex-basis: 100%;
  margin: 0 0 2rem;
}

.presentation-node .header .name {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.presentation-node .header .name span {
  color: rgba(255, 255, 255, 0.4);
}

.presentation-node .node {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-content: flex-start;
}

.presentation-node .node .children {
  flex-basis: 20%;
  
}

.presentation-node .list.primary {
  display: flex;
  margin: 0 0 2rem;
}

.presentation-node .list.primary.single-primary {
  display: none;
}

.presentation-node .list.primary li {
  height: 72px;
  margin: 0 3px 3px 0;
  flex-basis: calc(100% / 3 - 1px);
}

.presentation-node .list.primary li:last-child {
  margin: 0 0 3px 0;
}

.presentation-node .list.primary li .image {
  top: 12%;
  height: 76%;
  opacity: 0.4;
}

.presentation-node .list.primary li .active .image {
  opacity: 1;
}







.presentation-node .list.secondary li {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0);
}

.presentation-node .list.secondary li.linked:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
  z-index: 2;
}



.presentation-node .node .records {
  flex-basis: calc(80% - 4rem);
  margin: 0 0 0 2rem;
  padding: 0 0 0 calc(2rem - 1px);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}





@media screen and (max-width: 1200px) {

.presentation-node .node .children {
  flex-basis: 30%;
}

.presentation-node .node .records {
  flex-basis: calc(70% - 4rem);
}

}


@media screen and (max-width: 600px) {

.presentation-node .header .name {
  font-size: 24px;
}

.presentation-node .parent .node {
  margin: 0 0 2rem;
  flex-basis: calc(100% / 3);
}

.presentation-node .parent .node a {
  
}

.presentation-node .node .children {
  flex-basis: 100%;
  margin: 0 0 2rem;
}

.presentation-node .node .records {
  flex-basis: 100%;
  margin: 0;
  padding: 0;
  border-left: none;
}

}