#collections {
  padding: 3rem;
}

#collections .sub-header {
  margin: 0 0 2rem;
  width: 100%;
}

#collections .sidebar {
  flex-basis: calc(100% / 3);
  margin: 0 0 0 3rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

#collections .sidebar .recently-discovered {
  flex-basis: 100%;
  margin: 0 0 3rem;
}

#collections .sidebar .recently-discovered .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 7px;
  grid-row-gap: 0;
  justify-items: stretch;
  align-items: stretch;
}

#collections .sidebar .recently-discovered .list .item {
  padding-bottom: 100%;
  height: unset;
}

#collections .sidebar .recently-discovered .list .item::before {
  box-shadow: inset 0 0 0 2px #d6d6d6;
}

#collections .sidebar .recently-discovered .list .item:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
}

#collections .sidebar .badges {
  flex-basis: 100%;
}

#collections .sidebar .badges .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  justify-items: stretch;
  align-items: stretch;
}

#collections .sidebar .badges .badge {
  position: relative;
  padding-bottom: calc(126 / 208 * 100%);
  height: unset;
  margin: 0;
  transition: background-color 0.5s, box-shadow 0.25s;
}

#collections .sidebar .badges .list li.badge::before {
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0);
}

#collections .sidebar .badges .list li.badge:hover::before {
  box-shadow: inset 0 0 0 1px #d6d6d6;
  background-color: rgba(255, 255, 255, 0.2);
}

#collections .sidebar .badges .list li.badge:hover {
  background-color: rgba(255, 255, 255, 0);
}

#collections .sidebar .badges .badge a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

#collections .sidebar .badges .badge .text {
  display: none;
}

#collections .sidebar .badges .badge .image.dl {
  opacity: 0.4;
}

#collections .sidebar .badges .badge.fullComplete .image.dl {
  opacity: 1;
}

#collections .nodes {
  flex-basis: calc(100% / 3 * 2 - 3rem);
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

#collections .parent .list {
  flex-basis: 100%;
  margin: 0 0 3rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

#collections .parent .list .node {
  width: 100%;
  padding-bottom: calc(354/300*100%);
  position: relative;
  margin: 0;
  background: radial-gradient(circle at 50% 30%, rgba(255, 255, 255, 0.1), transparent);
  border-top-right-radius: 21%;
}

#collections .parent .list .node::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

#collections .parent .list .node .text {
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  color: rgba(255, 255, 255, 0.8);
}

#collections .parent .list .node .text div {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 14px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

#collections .parent .list .node .text div:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

#collections .parent .list .node .text .state {
  color: rgba(255, 255, 255, 0.4);
}

#collections .parent .list .node .text .state span {
  color: rgba(255, 255, 255, 0.8);
}

#collections .parent .list .node a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 21%;
}

#collections .parent .list .node a::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
  border-top-right-radius: 21%;
  transition: box-shadow 0.25s, background-color 0.25s;
}

#collections .parent .list .node a::after {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: 3;
  pointer-events: none;
  box-shadow: 0 0 0 2px rgba(214, 214, 214, 0);
  border-top-right-radius: 21%;
  transition: box-shadow 0.25s;
}

#collections .parent .list .node a:hover::before {
  box-shadow: inset 0 0 0 1px #d6d6d6;
  background-color: rgba(255, 255, 255, 0.2);
}

#collections .parent .list .node a:hover::after {
  box-shadow: 0 0 0 2px #d6d6d6;
}

#collections .node .collectibles {
  flex-basis: calc(80% - (3rem - 3px));
  margin: 0 0 0 calc(3rem - 3px);
}

#collections .list.tertiary li {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.4);
}

#collections .list.tertiary li.completed {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
}

#collections .list.tertiary li:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
}

#collections .list.tertiary li .image.dl {
  opacity: 0.4;
}

#collections .list.tertiary li.completed .image.dl {
  opacity: 1;
}

#collections .list.tertiary li .set .list {
  display: flex;
}

#collections .list.tertiary li.is-set {
  flex-basis: calc(100% / 2 - 3px);
}

#collections .list.tertiary li.is-set .set {
  flex-basis: calc((48px * 5) + (3px * 4));
}

#collections .list.tertiary li.is-set .set .list li {
  margin: 0 0 0 3px;
}

#collections .list.tertiary li.is-set .set .list li:first-child {
  margin: 0;
}

#collections .list.tertiary li.is-set .text {
  flex-basis: calc(100% - ((48px * 5) + (3px * 4)) - 2rem);
}

#collections .node.badge .children .icon {
  position: relative;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

#collections .node.badge .children .icon .corners {
  opacity: 0.2;
}

#collections .node.badge .children .icon .image {
  position: relative;
  height: initial;
  padding-bottom: calc(126 / 208 * 100%);
}

#collections .node.badge .children .options {
  margin: 2rem 0 0.4rem;
}

#collections .node.badge .children .text .name {
  margin: 2rem 0;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 500;
}

#collections .node.badge .children .text .description {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.2);
}

#collections .node.badge .children .until {
  margin: 6rem 0 0;
}

#collections .node.badge .children .until h4 {
  margin: 0 0 1rem;
}

#collections .node.badge .children .until h4.completed {
  color: rgb(206, 174, 51);
}

#collections .node.badge .children .progress {
  margin: 0 0 3px;
}

#collections .node.badge .children .progress:last-child {
  margin: 0;
}

#collections .node.badge .children .progress .bar {
  background-color: #999999;
}

#collections .node.badge .children .progress .bar.completed {
  background-color: rgb(206, 174, 51);
}

#collections .node.badge .records .class {
  margin: 0 0 3rem;
  width: 100%;
}

#collections .node.badge .records .class:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}

#collections .node.badge .records .class h5 {
  margin: 0 0 1rem;
  font-size: 14px;
}

@media screen and (max-width: 1400px) {
  #collections .parent .node {
    flex-basis: 12rem;
  }
  #collections .parent .list .node .text {
    bottom: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  #collections .parent .node {
    flex-basis: 8rem;
  }

  #collections .parent .list {
    grid-template-columns: 1fr 1fr;
  }

  #collections .node .children {
    flex-basis: 30%;
  }

  #collections .node .collectibles {
    flex-basis: calc(70% - (2rem - 3px));
    margin: 0 0 0 calc(2rem - 3px);
  }

  #collections .list.tertiary li {
    flex-basis: calc(100% / 2 - 3px);
  }

  #collections .node.badge {
    margin: 1rem 0 0;
  }
}

@media screen and (max-width: 500px) {
  #collections {
    padding: 2rem;
  }

  #collections .header .name {
    font-size: 24px;
  }

  #collections .nodes {
    flex-basis: 100%;
  }

  #collections .sidebar {
    flex-basis: 100%;
    margin: 0;
  }

  #collections .parent .list {
    grid-template-columns: 1fr 1fr;
  }

  #collections .parent .list .node::before {
    width: 5px;
  }

  #collections .parent .list .node .text {
    bottom: 1.4rem;
  }

  #collections .parent .list .node .text div {
    padding: 7px 0;
    font-size: 10px;
}

  #collections .parent .node {
    margin: 0 0 2rem;
    flex-basis: calc(100% / 3);
  }

  #collections .node .children {
    flex-basis: 100%;
    margin: 0 0 2rem;
  }

  #collections .node .collectibles {
    flex-basis: 100%;
    margin: 0;
  }

  #collections .list.tertiary li {
    flex-basis: 100%;
    margin: 0 0 3px;
  }

  #collections .node.badge .children .text .name {
    font-size: 24px;
  }

  #collections .node.badge .children .until {
    margin: 3rem 0 2rem;
  }

  #collections .list.tertiary li.is-set .set {
    flex-basis: 100%;
  }

  #collections .list.tertiary li.is-set .set .list li {
    flex-basis: calc(100% / 5);
  }

  #collections .list.tertiary li.is-set .set .list li .icon:not(.image) {
    width: 100%;
    height: initial;
    flex-basis: 100%;
  }

  #collections .list.tertiary li.is-set .set .list li .image.icon {
    width: 100%;
    height: initial;
    padding-bottom: 100%;
  }

  #collections .list.tertiary li.is-set .text {
    flex-basis: 100%;
    padding: 0.5rem 0;
  }
}
