.summary {
  flex-basis: calc(100% - 6rem);
  padding: 3rem 3rem 0;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 474px 1fr 1fr 1fr;
}

.summary .module .sub-header {
  margin: 0 0 2rem;
  width: calc(100% - 4rem);
}

.summary .module .sub-header.sub {
  margin: 0 0 1rem;
  width: 100%;
}

.summary .module .content {
  margin: 0 0 3rem;
}

.summary .module .content:last-child {
  margin: 0;
}

.summary .module.activity-checklists-seals {
}

.summary .module.activity-checklists-seals .list li {
  height: unset;
}

/* .summary .module.activity-checklists-seals > div:nth-child(2) {
  margin: 0 0 2rem;
} */

.summary ul.activity {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 1rem;
}

.summary ul.activity > li {
  flex-basis: 20%;
  margin: 0 0 1rem;
}

.summary .activity ul li {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.summary .activity ul li:first-child {
  margin: 0 0 0.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.summary .module.ranks {
  grid-row: 1/3;
  grid-column: 2/3;
}

.summary .module.ranks .content .rank h4 {
  margin: 1.5rem 0 1rem;
}

.summary .module.ranks .content .rank p {
  font-size: 14px;
}

.summary .module.ranks .content .rank {
  margin: 0 0 1rem;
}

.summary .module.ranks .content .rank .mode {
  display: flex;
}

.summary .module.ranks .content .rank .mode .icon {
  flex-basis: 4rem;
  height: 4rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 52px;
}

.summary .module.ranks .content .rank .mode .name,
.summary .module.ranks .content .rank .mode .resets {
  display: flex;
  align-items: center;
}

.summary .module.ranks .content .rank .mode .name {
  flex-basis: calc(100% - 7rem);
}

.summary .module.ranks .content .rank .mode .resets {
  flex-basis: 2rem;
  justify-content: flex-end;
  margin: 0 1rem 0 0;
}

.summary .module.ranks .content .rank .description {
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
  letter-spacing: 0.5px;
}

.summary .module.ranks .content .rank .shallow {
  padding: 1rem;
}

.summary .module.ranks .content .rank.infamy .mode {
  background-color: #25986e;
}

.summary .module.ranks .content .rank.infamy .mode .icon {
  font-size: 42px;
}

.summary .module.ranks .content .rank.infamy .shallow {
  background-color: rgba(37, 152, 110, 0.5);
}

.summary .module.ranks .content .rank.valor .mode {
  background-color: #ed792c;
}

.summary .module.ranks .content .rank.valor .shallow {
  background-color: rgba(237, 121, 44, 0.5);
}

.summary .module.ranks .content .rank.glory .mode {
  background-color: #b52422;
}

.summary .module.ranks .content .rank.glory .shallow {
  background-color: rgba(181, 36, 34, 0.5);
}

.summary .module.ranks .content .rank .progress {
  margin: 0.8rem 0 0.5rem;
}

.summary .module.ranks .content .rank .progress:last-child {
  margin: 0.5rem 0 0;
}

.summary .module.ranks .content .rank .progress.disabled .title,
.summary .module.ranks .content .rank .progress.disabled .fraction,
.summary .module.ranks .content .rank .progress.disabled .bar {
  opacity: 0;
}

.summary .module.almost {
  grid-row: 1/3;
  grid-column: 3/5;
}

.summary .module.almost .list.record-items {
  grid-template-columns: 1fr;
}

@media screen and (max-width: 1200px) {
  .summary {
    grid-template-columns: 474px 1fr;
  }

  .summary .module.ranks {
    grid-row: 1/3;
    grid-column: 2/3;
  }

  .summary .module.almost {
    grid-row: 2/2;
    grid-column: 1/3;
  }
}

@media screen and (max-width: 600px) {
  .summary {
    flex-basis: calc(100% - 4rem);
    grid-template-columns: 1fr;
    padding: 2rem 2rem 0;
    grid-gap: 2rem;
  }

  .summary .module .content:last-child {
    margin: 0 0 1rem;
  }

  .summary .module.activity-checklists-seals {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .summary .module.ranks {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .summary .module.ranks .content .rank:last-child {
    margin: 0 0 1rem;
  }

  .summary .module.almost {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .summary .module.almost .list.record-items {
    grid-template-columns: 1fr;
  }
}
