

#footer {
  width: calc(100% - 6rem);
  padding: 0 0 3rem;
  margin: 3rem 3rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
}

#footer div {
  position: relative;
  padding: 18px 0;
  line-height: 18px;
}

#footer .pride {
  position: inherit;
  margin: 0 16px 0 0;
  width: calc(96px + 2rem);
  display: inline-flex;
  justify-content: flex-end;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#footer .pride::before {
  content: " ";
  background: linear-gradient(90deg, #F44336 0%, #FF5722 20%, #FFEB3B 40%, #4CAF50 60%, #3F51B5 80%, #9C27B0 100%);
  position: absolute;
  top: -19px;
  left: 0;
  width: calc(96px + 2rem);
  height: 7px;
}

#footer ul {
  display: flex;
  flex-flow: row wrap;
}

#footer ul li {
  padding: 18px 0;
  margin: 0 0 0 16px;
  line-height: 18px;
}

#footer ul li:last-child a {
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 600px) {

  #footer {
    width: calc(100% - 4rem);
    padding: 0 0 2rem;
    margin: 2rem 2rem 0;
  }

#footer div {
  padding: 0;
  flex-basis: 100%;
}

#footer div:first-child {
  padding: 18px 0;
}

#footer ul li {
  padding: 0 0 7px;
  margin: 0 16px 0 0;
}

}