
.checklists {
  flex-basis: 100%;
  padding: 0 1.5rem;
}

.checklists .sub-header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  width: calc(100% - 7rem);
}

.lists {
  display: flex;
  flex-flow: row wrap;
  padding: 2rem 0 0;
}

.lists .col {
  flex-basis: calc(20% - 3rem);
  padding: 0 1.5rem;
}

.lists.col-4 .col {
  flex-basis: calc(25% - 3rem);
}

.lists.col-3 .col {
  flex-basis: calc(100% / 3 - 3rem);
}

.lists.col-2 .col {
  flex-basis: calc(50% - 3rem);
}

.lists.col-1 .col {
  flex-basis: calc(100% - 3rem);
}

.lists .col .head {
  margin: 0 0 3rem;
}

.lists .col .head .binding {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  height: 3rem;
}

.lists .list li {
  position: relative;
  padding: 0;
  margin: 0 0 0.8rem;
  line-height: 1.4;
  font-size: 14px;
  align-items: flex-start;
  height: unset;
}

.lists .list li .state {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px 1rem 0 3px;
  flex-shrink: 0;
}

.lists .list li .state::before {
  content: " ";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
}

.lists .list li .state.completed {  
  background-color: #78ba82;
}

.lists .list li .state.completed + .text {
  color: rgba(255, 255, 255, 0.6);
}

.lists .list li .text {
  flex-basis: calc(100% - 2.8rem - 10px);
}

.lists .list li .lowlines {
  flex-basis: 2rem;
  position: relative;
  text-align: right;
}

.lists .list li .lowlines a {
  position: relative;
  width: inherit;
  height: inherit;
  padding: 0 0.4rem;
  opacity: 0;
}

.lists .list li .lowlines a span {
  line-height: 1.3;
  font-size: 16px;
}

.lists .list li:hover .lowlines a {
  opacity: 0.6;
}

.lists .list li:hover .lowlines a:hover {
  opacity: 1;
}

.lists .list.single-line li {
  align-items: center;
}

.lists .list.single-line li .state {
  margin: 0 1rem 0 3px;
}








.checklistSelectors ul {
  display: flex;
  flex-flow: row wrap;
  padding: 0 1.5rem;
}

.checklistSelectors ul li {
  margin: 0 1rem 0 0;
}

.checklistSelectors ul li a {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 15px;
}

.checklistSelectors ul li a::before {
  content: " ";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: calc(100% - 2px);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: border-bottom 0.2s;
}

.checklistSelectors ul li a:hover::before {
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.checklistSelectors ul li a.active::before {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}



@media screen and (max-width: 1200px) {

.checklistSelectors ul li {
  margin: 0 1rem 1rem 0;
}

.lists .list li .text {
  flex-basis: calc(100% - 1rem - 10px);
}

.lists .list li .lowlines {
  display: none;
}

}

@media screen and (max-width: 600px) {

.checklists {
  padding: 0;
}

.checklists .sub-header {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: calc(100% - 8rem);
}

.checklistSelectors ul {
  padding: 0 2rem;
}

.lists {
  padding: 2rem 0.5rem 0;
}

.lists .col .head .binding {
  height: initial;
  margin: 0 0 1rem;
}



}