#tooltip {
  position: fixed;
  width: 384px;
  pointer-events: none;
  z-index: 2000;
  box-shadow: 0 30px 90px rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 1;
  --background-body: 238, 238, 238;
  --dark: 0,0,0;
  --light: 255,255,255;
  --accent: 0,0,255;
  --exotic: 221, 174, 51;
  --legendary: 82, 47, 101;
  --rare: 80, 118, 163;
  --uncommon: 54, 111, 60;
  --common: 204, 204, 204;
  --cream: 255, 251, 176;
  --exoticDark: 17, 13, 3;
  --legendaryDark: 14, 8, 17;
  --rareDark: 24, 34, 48;
  --uncommonDark: 13, 28, 15;
  --commonDark: 38, 38, 38;
}

#tooltip .acrylic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(1.2) blur(3px);
}

#tooltip .frame {
  position: relative;
}

#tooltip .header {
  padding: 12px 16px 10px;
  margin: 0;
  background-color: rgba(var(--basic),0.9);
  color: #fff;
  display: flex;
  flex-flow: row wrap;
}

#tooltip .header > div {
  flex-basis: 100%;
  display: flex;
}

#tooltip .header div div {
  flex: 1 1 auto;
}

#tooltip .header .name {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 4px;
}

#tooltip .header .kind {
  opacity: 0.8;
}

#tooltip .header .rarity {
  opacity: 0.4;
  text-align: right;
}

#tooltip .black {
  background-color: rgba(0, 0, 0, 0.75);
}

#tooltip .damage {
  padding: 12px 16px 10px;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
}

#tooltip .damage .power {
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;  
  padding: 0 16px 0 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

#tooltip .damage .power .text {
  font-size: 40px;
  padding: 0 0 0 7px;
}

#tooltip .damage .power .icon {
  display: flex;
}

#tooltip .damage .power .icon::before {
  font-family: "destiny";
}

#tooltip .damage .power .icon.kinetic::before {
  content: "k";
}

#tooltip .damage .power.solar {
  color: #ef641f;
}

#tooltip .damage .power .icon.solar::before {
  content: "s";
}

#tooltip .damage .power.arc {
  color: #79bbe7;
}

#tooltip .damage .power .icon.arc::before {
  content: "a";
}

#tooltip .damage .power.void {
  color: #a371c2;
}

#tooltip .damage .power .icon.void::before {
  content: "v";
}

#tooltip .damage.armor .power {
  border-right: none;
}

#tooltip .damage.armor .power .text {
  padding: 0;
  line-height: 1;
}

#tooltip .damage.armor .power .text:last-child {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 0 0 16px;
  line-height: 0;
}

#tooltip .damage .slot {
  padding: 0 0 0 16px;
  display: flex;
  align-items: center;
}

#tooltip .damage .slot .icon {
  font-size: 32px;  
  display: flex;
}

#tooltip .damage .slot .icon::before {
  font-family: "destiny";
}

#tooltip .damage .slot .icon.primary::before {
  content: "P";
}

#tooltip .damage .slot .icon.special::before {
  content: "S";
  color: #84f186;
}

#tooltip .damage .slot .icon.heavy::before {
  content: "H";
  color: #a981fc;
}

#tooltip .damage .slot .text {
  padding: 0 0 0 10px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

#tooltip .source {
  padding: 12px 16px 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: rgba(255, 255, 255, 0.8);
}

#tooltip .stats {
  padding: 14px 16px 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#tooltip .stats .stat {
  display: flex;
  align-items: center;
  line-height: 1.6;
  margin: 0 0 8px;
}

#tooltip .stats .stat .name {
  color: rgba(255,255,255, 0.6);
  padding: 0 16px 0 0;
  flex-basis: 45%;
  height: 16px;  
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#tooltip .stats .stat .value {
  flex-basis: calc(55% - 16px);
  height: 16px;
  position: relative;
  color: #fff;
}

#tooltip .stats .stat .value.bar {
  background-color: rgba(255, 255, 255, 0.04);
}

#tooltip .stats .stat .value.int {
  display: flex;
  align-items: center;
}

#tooltip .stats .stat .value .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
}

#tooltip .stats .stat .value .bar::before {
  content: attr(data-value);
  position: absolute;
  top: 0;
  right: -16px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0.4;
}

#tooltip .sockets.hasTraits {
  padding: 0 0 16px;
}

#tooltip .plug {
  padding: 12px 16px 0;
  display: flex;
}

#tooltip .plug .icon {
  position: relative;
  width: 40px;
  height: 40px;
  flex-basis: 40px;
  background-size: contain;
}

#tooltip .plug .text {
  flex-basis: calc(100% - 56px);
  padding: 0 0 0 16px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#tooltip .plug .text .name {
  margin: 0 0 3px;
  flex-basis: 100%;
}

#tooltip .plug .text .description {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
}

#tooltip .intrinsic {
  background: rgba(255, 255, 255, 0.04);
  padding: 12px 16px 10px;
}

#tooltip .frame.exotic .intrinsic .text .name {
  color: rgba(var(--exotic),1);
}

#tooltip .description pre {
  padding: 16px;
  white-space: pre-wrap;
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
  letter-spacing: 0.5px;
}



#tooltip .frame.exotic .header {
  background-color: rgba(var(--exotic),0.9);
}

#tooltip .frame.exotic .black {
  background-color: rgba(var(--exoticDark),0.9);
}

#tooltip .frame.legendary .header {
  background-color: rgba(var(--legendary),0.9);
}

#tooltip .frame.legendary .black {
  background-color: rgba(var(--legendaryDark),0.9);
}

#tooltip .frame.rare .header {
  background-color: rgba(var(--rare),0.9);
}

#tooltip .frame.rare .black {
  background-color: rgba(var(--rareDark),0.9);
}

#tooltip .frame.uncommon .header {
  background-color: rgba(var(--uncommon),0.9);
}

#tooltip .frame.uncommon .black {
  background-color: rgba(var(--uncommonDark),0.9);
}

#tooltip .frame.common .header {
  background-color: rgba(var(--common),0.9);
  color: #000;
}

#tooltip .frame.common .black {
  background-color: rgba(var(--commonDark),0.9);
}




@media screen and (max-width: 500px) {

#inspector {
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
  box-shadow: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#inspector.active {  
  pointer-events: initial;
}

#inspector .window {
  margin: 32px;
  position: relative;
}

#inspector .frame {
  position: relative;
  padding: initial;
  width: 100%;
  box-shadow: 0 30px 90px rgba(0, 0, 0, 0.4);
}

}


