#root .main {
  min-height: calc(100vh - 7rem);
}

.view {
  display: flex;
  padding: 0 3rem;
  width: calc(100% - 6rem);
}

.wrapper.light {
  background-color: #f1f1f1;
  color: #000;
}

.wrapper.light #footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
}

.wrapper.light #footer ul li:last-child a {
  color: rgba(0, 0, 0, 0.8);
}

h3 {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 2rem;
}

@media screen and (max-width: 600px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  margin: 0 0 2rem;
  color: rgba(255, 255, 255, 0.4);
}

p {
  line-height: 1.4;
  margin: 0 0 0.4rem;
}

p:last-child {
  margin: 0;
}

.image:not(.padding) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.5s;
}

.image.padding {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s;
}

.image.dl {
  opacity: 1;
}

.list li {
  position: relative;
  height: 38px;
  margin: 0 0 3px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  cursor: default;
  transition: color 0.25s, background-color 0.25s, box-shadow 0.25s;
}

.list li.linked,
.list li.tooltip {
  background-color: rgba(255, 255, 255, 0.2);
}

.list li::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0);
  transition: box-shadow 0.25s;
}

.list li::after {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: 3;
  pointer-events: none;
  box-shadow: 0 0 0 2px rgba(214, 214, 214, 0);
  transition: box-shadow 0.25s;
}

.list li.linked:hover,
.list li.tooltip:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
  z-index: 2;
}

.list li.linked:hover::before,
.list li.tooltip:hover::before {
  box-shadow: inset 0 0 0 1px #d6d6d6;
}

.list li.linked:hover::after,
.list li.tooltip:hover::after {
  box-shadow: 0 0 0 2px #d6d6d6;
}

.list li a {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2rem);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 2;
}

/* .list li.item {
  box-shadow: 0 0 0 2px #d6d6d6;
} */

.list li.item::before {
  box-shadow: inset 0 0 0 2px #d6d6d6;
  background-color: rgba(255, 255, 255, 0);
}

.list li.item::after {
  box-shadow: 0 0 0 2px rgba(214, 214, 214, 0);
}

.list li.linked.item:hover::before,
.list li.linked.tooltip:hover::before {
  box-shadow: inset 0 0 0 2px #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.list li.linked.item:hover::after,
.list li.linked.tooltip:hover::after {
  box-shadow: 0 0 0 2px #d6d6d6;
}

.progress {
  flex-basis: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-flow: row wrap;
}

.progress .title {
  flex: 1 1 auto;
  font-size: 14px;
  padding: 8px 0 8px 10px;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 2;
}

.progress .fraction {
  flex: 1 0 auto;
  text-align: right;
  font-size: 14px;
  padding: 8px 10px 8px 0;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 2;
}

.progress .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: #5aa366;
  transition: background-color 0.25s;
}

input {
  -webkit-appearance: none;
  border: none;
  font: inherit;
  font-size: 18px;
  line-height: initial;
  padding: 0;
  margin: 0;
  padding: 0;
  height: 38px;
  display: inline-flex;
  align-items: center;
  color: inherit;
  background-color: transparent;
  outline: none;
  white-space: normal;
  box-sizing: inherit;
  border-radius: 0;
}

input::placeholder {
  color: inherit;
  opacity: 0.4;
}

:focus {
  outline: none;
}

button.square {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
  margin: 0 6px 0 0;
  justify-content: center;
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0.2);
  transition: color 0.25s, background-color 0.25s, box-shadow 0.25s;
}

button.square::after {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: 3;
  pointer-events: none;
  box-shadow: 0 0 0 2px rgba(214, 214, 214, 0);
  transition: box-shadow 0.25s;
}

button.square:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
  z-index: 2;
  box-shadow: inset 0 0 0 1px #d6d6d6;
}

button.square:hover::after {
  box-shadow: 0 0 0 2px #d6d6d6;
}

button.square.active {
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 1);
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
}

.form .field {
  position: relative;
  margin: 0 0 1rem;
}

.form .field::after {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: 3;
  pointer-events: none;
  box-shadow: 0 0 0 2px rgba(214, 214, 214, 0);
  transition: color 0.25s, background-color 0.25s, box-shadow 0.25s;
}

.form .field input,
.form .field button {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 1rem;
  transition: background-color 0.25s, box-shadow 0.25s;
}

.form .field input {
  width: calc(100% - 2rem);
}

.form .field:hover input,
.form .field:hover button {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  z-index: 2;
  box-shadow: inset 0 0 0 1px #d6d6d6;
}

.form .field:hover::after {
  box-shadow: 0 0 0 2px #d6d6d6;
}

.form .field input:focus,
.form .field:hover input:focus,
.form .field button:focus,
.form .field:hover button:focus {
  color: #fff;
}

.corners {
  position: absolute;
  width: 100%;
  left: 0;
}

.corners::before,
.corners::after {
  content: ' ';
  position: absolute;
  left: 0;
  width: 7px;
  height: 7px;
  border-color: #fff;
  border-style: solid;
  border-width: 1px 0 0 1px;
}

.corners::after {
  border-width: 1px 1px 0 0;
  left: initial;
  right: 0;
}

.corners.t {
  top: 0;
}

.corners.b {
  bottom: 8px;
}

.corners.b::before {
  border-width: 0 0 1px 1px;
}

.corners.b::after {
  border-width: 0 1px 1px 0;
}

.sub-header {
  position: relative;
  padding: 0.6rem 2rem;
  margin: 3rem 3rem 1rem;
  width: calc(100% - 10rem);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 6px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.sub-header.sub {
  padding: 0 0 0.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  margin: 0 0 1rem;
}

/* .sub-header div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */

@media screen and (max-width: 600px) {
  .sub-header {
    margin: 2rem 2rem 1rem;
  }
}

.sub-title {
  font-size: 14px;
  margin: 0 0 0.4rem;
}

#error {
  padding: 9rem 3rem 0;
  flex-flow: row wrap;
  align-content: flex-start;
}

#error .icon {
  flex-basis: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3rem 0 0;
  height: 5rem;
  font-size: 70px;
  font-weight: 500;
  box-shadow: inset 0 0 0 5px #f44336;
  border-radius: 100%;
  color: #f44336;
}

#error .text {
  max-width: 30rem;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

#error .text a {
  color: #fff;
}

@media screen and (max-width: 600px) {
  #error {
    padding: 9rem 2rem 0;
  }

  #error .icon {
    flex-basis: 4rem;
    height: 4rem;
    margin: 0 2rem 0 0;
    font-size: 30px;
    box-shadow: inset 0 0 0 4px #f44336;
  }

  #error .text {
    margin: 3rem 0 0;
    flex-basis: 100%;
    max-width: initial;
  }
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

#loading h4,
#loading .download {
  flex-basis: 100%;
}

#loading h4 {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 0.6rem;
}

#loading .download {
  font-size: 14px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.2);
}

#loading .logo-feature {
  flex-basis: 100%;
  font-size: 96px;
  font-weight: 500;
  margin: 0 0 3rem;
  display: flex;
  justify-content: center;
}

#loading .logo-feature .device {
  position: relative;
  margin: 7rem 0 0;
  width: 196px;
  font-size: 196px;
  line-height: 170px;
}

#loading .logo-feature .device::before,
#loading .logo-feature .device::after {
  content: ' ';
  position: absolute;
  top: -20px;
  left: -20px;
  width: 236px;
  height: 236px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.8);
  animation: fade-in-logo-feature 7s linear forwards, rotate-logo-feature 21s linear infinite;
}

#loading .logo-feature .device::after {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
  animation: fade-in-logo-feature 7s linear forwards, rotate-logo-feature 10s linear infinite;
}

@media screen and (max-width: 500px) {
  #loading .download {
    margin: 0 0 3rem;
  }
}

@keyframes fade-in-logo-feature {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate-logo-feature {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sticky-nav {
  position: sticky;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: calc(100% - 6rem);
  padding: 0 3rem;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 16px;
  text-transform: uppercase;
  user-select: none;
}

html.backdropfilter .sticky-nav {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(3px);
}

.sticky-nav i {
  vertical-align: -2px;
  margin: 0 7px 0 0;
}

.sticky-nav ul {
  display: flex;
}

.sticky-nav ul li {
  margin: 0 0 0 2rem;
}

@media screen and (max-width: 500px) {
  .sticky-nav {
    width: calc(100% - 4rem);
    padding: 0 2rem;
    font-size: 12px;
  }
}
