* {
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
main {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::selection {
  background: #000;
  color: #fff;
}

html {
  font-size: 18px;
}

@media (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Neue Haas Grotesk",sans-serif,"Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: default;
  background-color: #737373;
  color: #fff;
}

a {
  position: relative;
  transition: all .2s;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* a::before {
  content: " ";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
} */

strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

button {
  font-weight: 400;
  font-family: inherit;
  font-size: 1rem;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  height: 2rem;
  display: flex;
  align-items: center;
}

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}

.di {
	clear: both;
}


@media screen and (max-width: 500px) {






}


header {
  position: fixed;
  top: 3rem;
  left: 0;
  width: calc(100% - 8rem);
  height: 3rem;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 0 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}

html.backdropfilter header {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
}

header .logo a {
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header .trigger {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1rem;
  height: 3rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  font-family: 'symbols' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
  color: #fff;
  display: none;
}

header .trigger::before {
  content: "\ea55";
}

header ul {
  display: flex;
  height: 100%;
  align-items: center;
}

header ul li {
  padding: 0 0.4rem;
  margin: 0 0.4rem;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;
}

header ul li a {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  opacity: 0.2;
}

header ul li:hover a {
  opacity: 0.6;
}

header ul li a.active {
  opacity: 1;
}

header ul li a.active::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 2px);
  border-bottom: 2px solid;
}


footer {
  padding: 1rem 0;
  margin: 3rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

footer a {
  color: rgba(255, 255, 255, 0.8);
}



@media screen and (max-width: 600px) {

header {
  width: calc(100% - 6rem);
  margin: 0 2rem;
}

header .trigger {
  display: flex;
}

header.display a {
  color: #000;
  height: initial;
  display: initial;
  opacity: 1;
}

header.display h1 {
  position: absolute;
  top: 0;
  left: 2rem;
  height: 2rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  opacity: 1;
}

header ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 7rem 0 0;
  height: calc(100% - 7rem);
  background-color: #fff;
  flex-flow: row wrap;
  align-content: flex-start;
  display: none;
}

header.display ul {
  display: flex;
}

header ul li {
  padding: 0;
  margin: 2rem 0 0.2rem 2rem;
  font-size: 2rem;
  flex-basis: 100%;
  display: initial;
  height: initial;
  letter-spacing: initial;
  text-transform: initial;
}

header ul li a.active::before {
  border-bottom: 3px solid;
}

header.display .logo {
  position: fixed;
  top: 3rem;
  left: 2rem;
  color: #000;
  z-index: 2;
  height: 3rem;
  display: flex;
  align-items: center;
}

footer {
  margin: 2rem;
}

footer div:first-child {
  margin: 0 0 1rem;
}

}